# Data Science Tools and Ecosystem

## Author
Varun

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List popular languages for Data Science
 - List commonly used libraries by Data Scientists
 - List Data Science Tools
 - Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. Pandas
4. Matplotlib
5. PyTorch

|Data Science Tools|
|-|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335